.post-surah {
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 1000px;
    padding: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    border-radius: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.content-surah {
    flex: 1;
}

.content-surah p.ayat-surah
{
    text-align: right;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 15px;
}

.content-surah p.arti-surah {
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}